body {
  padding-top: 70px;
  /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
  padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
  padding: 0 15px;
}

@media(min-width:768px) {
  body {
    padding-top: 100px;
    /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  }
  .navbar-fixed-top .navbar-brand {
    padding: 15px 0;
  }
}


/*Geosuggest autocomplete styling*/

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 50%;
  margin: 1em auto;
  text-align: left;
}

.geosuggest__input {
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
  transition: border 0.2s, box-shadow 0.2s;
}

.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}

.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}


/**
 * A geosuggest item
 */

.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}

.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}

.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}

.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}


/* Google Maps Styling */

#map {
  width: 600px;
  height: 400px;
  background-color: grey;
}


/* Stopwatch Timer Styling */

.stopwatch {
  text-align: center
}

.stopwatch-timer {
  font-size: 76px;
  font-weight: 100;
  line-height: 160px;
  margin: 0;
  border: solid #cecfd0;
  border-width: 1px 0;
  background-color: white;
}

.stopwatch-laps {
  padding: 0 0 0 20px;
  list-style-type: none;
}

.stopwatch-lap {
  font-size: 20px;
  line-height: 60px;
  padding-right: 20px;
  text-align: right;
  border-bottom: 1px solid #d9dae0;
}

.stopwatch-lap strong {
  float: left;
  color: #7f8083;
  font-weight: 100;
}

.stopwatch-lap strong::before {
  content: 'Lap '
}

.stopwatch-btn {
  font-family: inherit;
  font-size: 20px;
  display: inline-block;
  width: 72px;
  height: 72px;
  margin: 24px;
  padding: 0;
  cursor: pointer;
  letter-spacing: 1px;
  border: 0;
  border-radius: 50%;
  outline: none;
  background: white;
}

.start-btn {
  color: #4bd761
}

.stop-btn {
  color: #fd3d2a
}
