@import url('https://fonts.googleapis.com/css?family=Francois+One|Revalia');

html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

body {
  /*padding-top: 70px;*/
  height: 100%;
  width: 100%;
  /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-fixed-top .nav {
  padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
  padding: 0 15px;
}

@media(min-width:768px) {
  body {
    padding-top: 100px;
    /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  }
  .navbar-fixed-top .navbar-brand {
    padding: 15px 0;
  }
}

#main {
  /*background-color: blue;*/
  width: 100%;
  height: 100%;
}

/*Geosuggest autocomplete styling*/

.geosuggest {
  font-size: 18px;
  font-size: 1rem;
  position: relative;
  width: 50%;
  margin: 1em auto;
  text-align: left;
}

.geosuggest__input {
  width: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 1px #3d464d;
  padding: .5em 1em;
  -webkit-transition: border 0.2s, box-shadow 0.2s;
  transition: border 0.2s, box-shadow 0.2s;
}

.geosuggest__input:focus {
  border-color: #267dc0;
  box-shadow: 0 0 0 transparent;
}

.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  background: #fff;
  border: 2px solid #267dc0;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}


/**
 * A geosuggest item
 */

.geosuggest__item {
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer;
}

.geosuggest__item:hover,
.geosuggest__item:focus {
  background: #f5f5f5;
}

.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}

.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc;
}


/* Google Maps Styling */


#map {
  width: 100%;
  height: 100%;  
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
}




/* Font styling for Timer Component */


.raceMapContainer {
  height: 100%;
  width: 100%;
  z-index: 98;
}


.raceMapContainerFixed {
  background-color: pink;
  height: 700px;
  width: 1100px;
  margin: 0 auto; 
}

#runRaceNavBar {
  /*background-color: orange;*/
  height: 70px;
  width: 100%;

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99px;

  display:flex;
  justify-content: center;
  align-items: center;
}


#timer {
  flex: 2;
  font-size: 2.2em;
  font-weight: 1000;  
  /*font-family: 'Font Name', serif; */
  /*font-family: 'Revalia', cursive;*/
  font-family: 'Francois One', sans-serif;


  /*background-color: yellow;  */
}

#users {
  flex: 1;
  position: absolute;
  left: 0;
  margin-left: 10px;  
}


#runRaceFooterBar {
  position: absolute;  
  left: 0px;
  bottom: 0px;
  background-color: orange;
  height: 50px;
  width: 100%;
}



/*
Styling for RouteInfo
*/

#RouteInfoContainer {
  width: 100%;
  height: 100%;
  /*background: linear-gradient(#232526 , #414345);;*/
  /*background: linear-gradient(to left, #757F9A , #D7DDE8);*/
  background: linear-gradient(#FF5F6D , #FFC371);
  display: flex;  
  flex-direction: column;
  align-items: center;
  overflow-y:scroll;

}

#RouteInfoBlock {
  width: 80%;
  height: 70px;
  background-color: white;
  border: 10px; 
  border: 1px gray;
  margin: 20px;
}


/*
Styling for checkpoint
*/

#checkPointContainer {
  width: 100%;
  height: 100%;
  /*background: linear-gradient(#232526 , #414345);;*/
  /*background: linear-gradient(to left, #757F9A , #D7DDE8);*/

  /*background: linear-gradient(#FF5F6D , #FFC371);*/
  background: linear-gradient(#8e9eab , #eef2f3);
  display: flex;  
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

/*
Non flex box implementation
.camera-iconBox {
  
  height: 20%;
  width: 20%;
  margin: 0 auto;
  margin-top: 200px;
}

.camera-iconBox img {
  height: 200px;
  width: 200px;
}

#checkPointTask {
  margin: 0 auto;
  text-align: center;
}
*/


/*
Flex box implementation
*/
.camera-iconBox {
  height: 20%;
  width: 100%;
  margin-bottom: 10%;
  display: -webkit-flex;  
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: center;

  /*
  flex-flow: row;
  justify-content: center;  
  */
}

.camera-iconBox img {
  height: 100px;
  width: 100px;
  margin: 10px;
}

#canvas {  
  justify-content: center;    
}

#checkPointTask {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.spinLogos {
  animation-name: spinLogos;  
  animation-duration: 2s;  
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;

}
@keyframes spinLogos { 
  0% {transform:rotate(0deg); }
  100% {transform:rotate(42000deg); } 
}

.spinLandmarks{
  animation-name: spinLandmarks;  
  animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
}
@keyframes spinLandmarks { 
  0% {transform:rotate(0deg); }
  100% {transform:rotate(45000deg); } 
}

.spinLabels{
  animation-name: spinLabels;  
  animation-duration: 2s;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
}
@keyframes spinLabels { 
  0% {transform:rotate(0deg); }
  100% {transform:rotate(48000deg); } 
}






.makeSmaller {
  width: 250px;
  height: 250px;
}




#fileUploader {
  /*display: none;*/
}


/*
writing media queries specific to the iphone
*/
@media only screen and (max-device-width: 568px) {
  .gmnoprint {
    display: none;
  }

  #users {
    margin-top: 15px;
  }

  #timer {
    margin-left: 30px; 
  }

  

  /*
  Non Flex Box Implementation 
  #checkPointTask { 
    text-align: center;
  }
  .camera-iconBox img{   
    height: 100px;
    width: 100px;    
  }
  
  */
  .camera-iconBox img {
    height: 100px;
    width: 100px;    
  }

  .camera-iconBox {

  }

}


.highZ {
  z-index: 1000;
}




